* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f1efef;
  --secondary: #ccc8aa;
  --font-base: 1rem;
  --font-small: 0.9rem;
  --font-large: 1.2rem;
}

html {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

button:hover {
  opacity: 0.75;
}

input {
  outline: none;
  padding: 0.5rem;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--primary);
  position: relative;
}

header {
  height: 80px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid lightgray;
  background: white;
}

header > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}

header > div > img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  padding: 0.4rem;
  border: 1px solid lightgray;
  border-radius: 100%;
}

main {
  padding: 2rem;
}

#actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

#actions form input {
  min-width: 300px;
  height: 50px;
  padding: 0.7rem;
  outline: none;
  border-radius: 5px;
  border-color: lightgray;
  font-size: var(--font-base);
}

#actions button {
  height: 50px;
  padding: 0 1.5rem;
  border-radius: 5px;
  background: var(--secondary);
  color: white;
  font-weight: 600;
  border: none;
  font-size: var(--font-base);
}

#books {
  margin-top: 2rem;
}

#books > table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#books {
}

#books > table td,
th {
  border: 3px solid var(--secondary);
  text-align: left;
  padding: 8px;
  font-size: var(--font-base);
}

#books .book-name {
  width: 40%;
}

#books .book-author {
  width: 25%;
}

#books .book-topic {
  width: 20%;
}

#books .book-actions {
  width: 15%;
}

#books > table td.book-actions {
  color: red;
  text-decoration: underline;
  font-weight: 600;
}

#modals {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close {
  display: none !important;
}

.modal-content-wrapper {
  min-width: 300px;
  max-width: fit-content;
  background: #fff;
  color: black;
  padding: 1.5rem 0 1rem 0;
  border-radius: 5px;
  position: relative;
}

.modal-content-wrapper .close-modal {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

#modals .delete-book-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#modals .delete-book-confirmation > .confirmation-content {
  width: 80%;
  text-align: center;
}

#modals .delete-book-confirmation > .confirmation-actions {
  display: flex;
  gap: 0.5rem;
}

#modals .delete-book-confirmation > .confirmation-actions button {
  padding: 0.8rem 1rem;
  width: 100px;
  border: none;
}

#modals .delete-book-confirmation .delete {
  background: transparent;
}

#modals .delete-book-confirmation .cancel {
  color: white;
  background: var(--secondary);
  font-weight: 600;
  border-radius: 5px;
}

#modals .add-book {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
}

#modals .add-book h2 {
  margin-bottom: 1.5rem;
}

#modals .add-book form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

#modals .add-book form .field-control {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#modals .add-book form .field-control label {
  font-size: var(--font-small);
  font-weight: 600;
}

#modals .add-book form .field-control input {
  width: 100%;
  border-radius: 5px;
}

#modals .add-book form button {
  padding: 0.8rem 1rem;
  width: 100px;
  color: white;
  background: var(--secondary);
  font-weight: 600;
  border-radius: 5px;
  margin: 1rem 0;
  margin-left: auto;
}
